body {
    font-family: Arial;
    background: #f5f7fb;
    text-align: center;
    margin-top: 60px;
}

h1 {
    margin-bottom: 30px;
}

input {
    padding: 12px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    border: none;
    background: #4CAF50;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

ul {
    margin-top: 30px;
    padding: 0;
}

li {
    list-style: none;
    background: white;
    margin: 10px auto;
    padding: 15px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.completed {
    text-decoration: line-through;
    color: gray;
}